<div class="container p-0">

    <div class="tableSelectContainer">

        @if (@ViewBag.Error != null)
        {
            <br />
            <div class="row justify-content-center">
                <div class="alert myAlertDelete alert-danger">
                    <div> <strong> @ViewBag.Error </strong></div>
                </div>
            </div>
        }

        @if (@ViewBag.Message != null)
        {
            <br />
            <div class="col-lg-4 ">
                <div class="alert  alert-info">
                    <div><strong> @ViewBag.Message </strong> </div>
                </div>
            </div>
        }

        <div class="row justify-content-center">
            <div class="col-lg-6 alert alert-info">
                <h4>Select a staging claim table </h4>
            </div>
        </div>

        <div class="row my-0 justify-content-between">
            <div class="col-lg-4">
                <a asp-controller="Home" asp-action="GetAllClaims" asp-route-tableName="EDI_XC_PROV_NAME_REJECTED_CLAIMS" class="btn btn-group btn-primary" style="padding:90px 90px">
                    <h3>NAME</h3>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-controller="Home" asp-action="GetAllClaims" asp-route-tableName="EDI_XC_PROV_NPI_REJECTED_CLAIMS" class="btn btn-group btn-primary" style="padding:90px 90px">
                    <h3>NPI</h3>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-controller="Home" asp-action="GetAllClaims" asp-route-tableName="EDI_XC_PROV_TIN_REJECTED_CLAIMS" class="btn btn-group btn-primary" style="padding:90px 90px">
                    <h3>TIN </h3>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="m-2 row justify-content-center">
    <div class="alert alert-info px-2 py-2 w-25" style="text-align:start">
        <h4 style="text-align:center">How to get access </h4>
        <hr style="width:auto"/>
        <h6>1) Go to https://accesscentral.centene.com</h6>
        <h6>2) Click Manage Access</h6>
        <h6>3) Search for AA-DEV-USER-XCCLAIMREJECT and select it</h6>
        <h6>4) Submit the request</h6>
    </div>
</div>

<!--
<a asp-controller="Home" asp-action="Login" class="btn btn-group btn-info">
    <b>LOGIN</b>
</a>
    -->
