
/* Set width on the form input elements since they're 100% wide by default */

#tableSelectContainer {
    width: 500px;
}
body {
    margin:25px;

}
.navbar {
    padding-bottom: 1.5rem;

}

.navbar-brand, a {
    color: white;
    text-decoration: solid;
}

#tableSelectContainer {
    margin-top: 50px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 1000px;
}

img {
    width: 600px;
}

#confirmDeleteHeading {
    font: bold red;
    color: red;
}

#createButton {
    float: right;
}

.container {
    padding-top: 5.5em;
    width: 1500px;
    text-align: center;
}


.submitClaimsContainer {
    padding-top: 4.5em;
    width: 1500px;
    text-align: center;
}

.table-bordered {
    margin-top: 30px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

textarea {
    overflow: auto;
    resize: vertical;
}
